/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.cover-img {
  mask-image: -webkit-radial-gradient(center, white, black);
  -webkit-mask-image: -webkit-radial-gradient(center, white, black);
}

// Hidden Table Filter Default text (Filter by)
.sr-only{
  display: none !important;
}
