table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #181c32;
  --bs-table-striped-bg: rgba(245, 248, 250, 0.75);
  --bs-table-active-color: #181c32;
  --bs-table-active-bg: #f5f8fa;
  --bs-table-hover-color: #181c32;
  --bs-table-hover-bg: #f5f8fa;
  width: 100%;
  margin-bottom: 1rem;
  color: #181c32;
  vertical-align: top;
  border-color: #eff2f5;
}
.table > :not(caption) > * > * {
  padding: 0.75rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:first-child) {
  border-top: 2px solid currentColor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-primary {
  --bs-table-bg: #ccecfd;
  --bs-table-striped-bg: #c2e0f0;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #b8d4e4;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #bddaea;
  --bs-table-hover-color: #000000;
  color: #000000;
  border-color: #b8d4e4;
}

.table-secondary {
  --bs-table-bg: #fafafc;
  --bs-table-striped-bg: #eeeeef;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #e1e1e3;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #e7e7e9;
  --bs-table-hover-color: #000000;
  color: #000000;
  border-color: #e1e1e3;
}

.table-success {
  --bs-table-bg: #dcf5e7;
  --bs-table-striped-bg: #d1e9db;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #c6ddd0;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #cce3d6;
  --bs-table-hover-color: #000000;
  color: #000000;
  border-color: #c6ddd0;
}

.table-info {
  --bs-table-bg: #e3d7fb;
  --bs-table-striped-bg: #d8ccee;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #ccc2e2;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #d2c7e8;
  --bs-table-hover-color: #000000;
  color: #000000;
  border-color: #ccc2e2;
}

.table-warning {
  --bs-table-bg: #fff4cc;
  --bs-table-striped-bg: #f2e8c2;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #e6dcb8;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #ece2bd;
  --bs-table-hover-color: #000000;
  color: #000000;
  border-color: #e6dcb8;
}

.table-danger {
  --bs-table-bg: #fcd9e2;
  --bs-table-striped-bg: #efced7;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #e3c3cb;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #e9c9d1;
  --bs-table-hover-color: #000000;
  color: #000000;
  border-color: #e3c3cb;
}

.table-light {
  --bs-table-bg: #f5f8fa;
  --bs-table-striped-bg: #e9ecee;
  --bs-table-striped-color: #000000;
  --bs-table-active-bg: #dddfe1;
  --bs-table-active-color: #000000;
  --bs-table-hover-bg: #e3e5e7;
  --bs-table-hover-color: #000000;
  color: #000000;
  border-color: #dddfe1;
}

.table-dark {
  --bs-table-bg: #181c32;
  --bs-table-striped-bg: #24273c;
  --bs-table-striped-color: #ffffff;
  --bs-table-active-bg: #2f3347;
  --bs-table-active-color: #ffffff;
  --bs-table-hover-bg: #292d41;
  --bs-table-hover-color: #ffffff;
  color: #ffffff;
  border-color: #2f3347;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.table > :not(:first-child) {
  border-color: transparent;
  border-width: 0;
  border-style: none;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}
.table tr,
.table th,
.table td {
  border-color: inherit;
  border-width: inherit;
  border-style: inherit;
  text-transform: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  height: inherit;
  min-height: inherit;
}
.table tr:first-child,
.table th:first-child,
.table td:first-child {
  padding-left: 0;
}
.table tr:last-child,
.table th:last-child,
.table td:last-child {
  padding-right: 0;
}
.table tfoot tr:last-child,
.table tbody tr:last-child {
  border-bottom: 0 !important;
}
.table tfoot tr:last-child th,
.table tfoot tr:last-child td,
.table tbody tr:last-child th,
.table tbody tr:last-child td {
  border-bottom: 0 !important;
}
.table tfoot th,
.table tfoot td {
  border-top: inherit;
}
.table.table-rounded {
  border-radius: 0.475rem;
  border-spacing: 0;
  border-collapse: separate;
}
.table.table-flush tr,
.table.table-flush th,
.table.table-flush td {
  padding: inherit;
}
.table.table-row-bordered tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eff2f5;
}
.table.table-row-bordered tfoot th,
.table.table-row-bordered tfoot td {
  border-top-width: 1px !important;
}
.table.table-row-dashed tr {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #eff2f5;
}
.table.table-row-dashed tfoot th,
.table.table-row-dashed tfoot td {
  border-top-width: 1px !important;
}
.table.table-row-gray-100 tr {
  border-bottom-color: #f5f8fa;
}
.table.table-row-gray-200 tr {
  border-bottom-color: #eff2f5;
}
.table.table-row-gray-300 tr {
  border-bottom-color: #e4e6ef;
}
.table.table-row-gray-400 tr {
  border-bottom-color: #b5b5c3;
}
.table.table-row-gray-500 tr {
  border-bottom-color: #a1a5b7;
}
.table.table-row-gray-600 tr {
  border-bottom-color: #7e8299;
}
.table.table-row-gray-700 tr {
  border-bottom-color: #5e6278;
}
.table.table-row-gray-800 tr {
  border-bottom-color: #3f4254;
}
.table.table-row-gray-900 tr {
  border-bottom-color: #181c32;
}

.table.g-0 th,
.table.g-0 td {
  padding: 0rem;
}
.table.g-0 th.dtr-control,
.table.g-0 td.dtr-control {
  padding-left: 0rem !important;
}

.table.gy-0 th,
.table.gy-0 td {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.table.gx-0 th,
.table.gx-0 td {
  padding-left: 0rem;
  padding-right: 0rem;
}
.table.gx-0 th.dtr-control,
.table.gx-0 td.dtr-control {
  padding-left: 0rem !important;
}

.table.gs-0 th:first-child,
.table.gs-0 td:first-child {
  padding-left: 0rem;
}
.table.gs-0 th:last-child,
.table.gs-0 td:last-child {
  padding-right: 0rem;
}
.table.gs-0 th.dtr-control:first-child,
.table.gs-0 td.dtr-control:first-child {
  padding-left: 0rem !important;
}

.table.g-1 th,
.table.g-1 td {
  padding: 0.25rem;
}
.table.g-1 th.dtr-control,
.table.g-1 td.dtr-control {
  padding-left: 0.25rem !important;
}

.table.gy-1 th,
.table.gy-1 td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.table.gx-1 th,
.table.gx-1 td {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.table.gx-1 th.dtr-control,
.table.gx-1 td.dtr-control {
  padding-left: 0.25rem !important;
}

.table.gs-1 th:first-child,
.table.gs-1 td:first-child {
  padding-left: 0.25rem;
}
.table.gs-1 th:last-child,
.table.gs-1 td:last-child {
  padding-right: 0.25rem;
}
.table.gs-1 th.dtr-control:first-child,
.table.gs-1 td.dtr-control:first-child {
  padding-left: 0.25rem !important;
}

.table.g-2 th,
.table.g-2 td {
  padding: 0.5rem;
}
.table.g-2 th.dtr-control,
.table.g-2 td.dtr-control {
  padding-left: 0.5rem !important;
}

.table.gy-2 th,
.table.gy-2 td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table.gx-2 th,
.table.gx-2 td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.table.gx-2 th.dtr-control,
.table.gx-2 td.dtr-control {
  padding-left: 0.5rem !important;
}

.table.gs-2 th:first-child,
.table.gs-2 td:first-child {
  padding-left: 0.5rem;
}
.table.gs-2 th:last-child,
.table.gs-2 td:last-child {
  padding-right: 0.5rem;
}
.table.gs-2 th.dtr-control:first-child,
.table.gs-2 td.dtr-control:first-child {
  padding-left: 0.5rem !important;
}

.table.g-3 th,
.table.g-3 td {
  padding: 0.75rem;
}
.table.g-3 th.dtr-control,
.table.g-3 td.dtr-control {
  padding-left: 0.75rem !important;
}

.table.gy-3 th,
.table.gy-3 td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.table.gx-3 th,
.table.gx-3 td {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.table.gx-3 th.dtr-control,
.table.gx-3 td.dtr-control {
  padding-left: 0.75rem !important;
}

.table.gs-3 th:first-child,
.table.gs-3 td:first-child {
  padding-left: 0.75rem;
}
.table.gs-3 th:last-child,
.table.gs-3 td:last-child {
  padding-right: 0.75rem;
}
.table.gs-3 th.dtr-control:first-child,
.table.gs-3 td.dtr-control:first-child {
  padding-left: 0.75rem !important;
}

.table.g-4 th,
.table.g-4 td {
  padding: 1rem;
}
.table.g-4 th.dtr-control,
.table.g-4 td.dtr-control {
  padding-left: 1rem !important;
}

.table.gy-4 th,
.table.gy-4 td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table.gx-4 th,
.table.gx-4 td {
  padding-left: 1rem;
  padding-right: 1rem;
}
.table.gx-4 th.dtr-control,
.table.gx-4 td.dtr-control {
  padding-left: 1rem !important;
}

.table.gs-4 th:first-child,
.table.gs-4 td:first-child {
  padding-left: 1rem;
}
.table.gs-4 th:last-child,
.table.gs-4 td:last-child {
  padding-right: 1rem;
}
.table.gs-4 th.dtr-control:first-child,
.table.gs-4 td.dtr-control:first-child {
  padding-left: 1rem !important;
}

.table.g-5 th,
.table.g-5 td {
  padding: 1.25rem;
}
.table.g-5 th.dtr-control,
.table.g-5 td.dtr-control {
  padding-left: 1.25rem !important;
}

.table.gy-5 th,
.table.gy-5 td {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.table.gx-5 th,
.table.gx-5 td {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.table.gx-5 th.dtr-control,
.table.gx-5 td.dtr-control {
  padding-left: 1.25rem !important;
}

.table.gs-5 th:first-child,
.table.gs-5 td:first-child {
  padding-left: 1.25rem;
}
.table.gs-5 th:last-child,
.table.gs-5 td:last-child {
  padding-right: 1.25rem;
}
.table.gs-5 th.dtr-control:first-child,
.table.gs-5 td.dtr-control:first-child {
  padding-left: 1.25rem !important;
}

.table.g-6 th,
.table.g-6 td {
  padding: 1.5rem;
}
.table.g-6 th.dtr-control,
.table.g-6 td.dtr-control {
  padding-left: 1.5rem !important;
}

.table.gy-6 th,
.table.gy-6 td {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table.gx-6 th,
.table.gx-6 td {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.table.gx-6 th.dtr-control,
.table.gx-6 td.dtr-control {
  padding-left: 1.5rem !important;
}

.table.gs-6 th:first-child,
.table.gs-6 td:first-child {
  padding-left: 1.5rem;
}
.table.gs-6 th:last-child,
.table.gs-6 td:last-child {
  padding-right: 1.5rem;
}
.table.gs-6 th.dtr-control:first-child,
.table.gs-6 td.dtr-control:first-child {
  padding-left: 1.5rem !important;
}

.table.g-7 th,
.table.g-7 td {
  padding: 1.75rem;
}
.table.g-7 th.dtr-control,
.table.g-7 td.dtr-control {
  padding-left: 1.75rem !important;
}

.table.gy-7 th,
.table.gy-7 td {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.table.gx-7 th,
.table.gx-7 td {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.table.gx-7 th.dtr-control,
.table.gx-7 td.dtr-control {
  padding-left: 1.75rem !important;
}

.table.gs-7 th:first-child,
.table.gs-7 td:first-child {
  padding-left: 1.75rem;
}
.table.gs-7 th:last-child,
.table.gs-7 td:last-child {
  padding-right: 1.75rem;
}
.table.gs-7 th.dtr-control:first-child,
.table.gs-7 td.dtr-control:first-child {
  padding-left: 1.75rem !important;
}

.table.g-8 th,
.table.g-8 td {
  padding: 2rem;
}
.table.g-8 th.dtr-control,
.table.g-8 td.dtr-control {
  padding-left: 2rem !important;
}

.table.gy-8 th,
.table.gy-8 td {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.table.gx-8 th,
.table.gx-8 td {
  padding-left: 2rem;
  padding-right: 2rem;
}
.table.gx-8 th.dtr-control,
.table.gx-8 td.dtr-control {
  padding-left: 2rem !important;
}

.table.gs-8 th:first-child,
.table.gs-8 td:first-child {
  padding-left: 2rem;
}
.table.gs-8 th:last-child,
.table.gs-8 td:last-child {
  padding-right: 2rem;
}
.table.gs-8 th.dtr-control:first-child,
.table.gs-8 td.dtr-control:first-child {
  padding-left: 2rem !important;
}

.table.g-9 th,
.table.g-9 td {
  padding: 2.25rem;
}
.table.g-9 th.dtr-control,
.table.g-9 td.dtr-control {
  padding-left: 2.25rem !important;
}

.table.gy-9 th,
.table.gy-9 td {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.table.gx-9 th,
.table.gx-9 td {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.table.gx-9 th.dtr-control,
.table.gx-9 td.dtr-control {
  padding-left: 2.25rem !important;
}

.table.gs-9 th:first-child,
.table.gs-9 td:first-child {
  padding-left: 2.25rem;
}
.table.gs-9 th:last-child,
.table.gs-9 td:last-child {
  padding-right: 2.25rem;
}
.table.gs-9 th.dtr-control:first-child,
.table.gs-9 td.dtr-control:first-child {
  padding-left: 2.25rem !important;
}

.table.g-10 th,
.table.g-10 td {
  padding: 2.5rem;
}
.table.g-10 th.dtr-control,
.table.g-10 td.dtr-control {
  padding-left: 2.5rem !important;
}

.table.gy-10 th,
.table.gy-10 td {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.table.gx-10 th,
.table.gx-10 td {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.table.gx-10 th.dtr-control,
.table.gx-10 td.dtr-control {
  padding-left: 2.5rem !important;
}

.table.gs-10 th:first-child,
.table.gs-10 td:first-child {
  padding-left: 2.5rem;
}
.table.gs-10 th:last-child,
.table.gs-10 td:last-child {
  padding-right: 2.5rem;
}
.table.gs-10 th.dtr-control:first-child,
.table.gs-10 td.dtr-control:first-child {
  padding-left: 2.5rem !important;
}

@media (min-width: 576px) {
  .table.g-sm-0 th,
  .table.g-sm-0 td {
    padding: 0rem;
  }
  .table.g-sm-0 th.dtr-control,
  .table.g-sm-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gy-sm-0 th,
  .table.gy-sm-0 td {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .table.gx-sm-0 th,
  .table.gx-sm-0 td {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .table.gx-sm-0 th.dtr-control,
  .table.gx-sm-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gs-sm-0 th:first-child,
  .table.gs-sm-0 td:first-child {
    padding-left: 0rem;
  }
  .table.gs-sm-0 th:last-child,
  .table.gs-sm-0 td:last-child {
    padding-right: 0rem;
  }
  .table.gs-sm-0 th.dtr-control:first-child,
  .table.gs-sm-0 td.dtr-control:first-child {
    padding-left: 0rem !important;
  }

  .table.g-sm-1 th,
  .table.g-sm-1 td {
    padding: 0.25rem;
  }
  .table.g-sm-1 th.dtr-control,
  .table.g-sm-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gy-sm-1 th,
  .table.gy-sm-1 td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .table.gx-sm-1 th,
  .table.gx-sm-1 td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .table.gx-sm-1 th.dtr-control,
  .table.gx-sm-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gs-sm-1 th:first-child,
  .table.gs-sm-1 td:first-child {
    padding-left: 0.25rem;
  }
  .table.gs-sm-1 th:last-child,
  .table.gs-sm-1 td:last-child {
    padding-right: 0.25rem;
  }
  .table.gs-sm-1 th.dtr-control:first-child,
  .table.gs-sm-1 td.dtr-control:first-child {
    padding-left: 0.25rem !important;
  }

  .table.g-sm-2 th,
  .table.g-sm-2 td {
    padding: 0.5rem;
  }
  .table.g-sm-2 th.dtr-control,
  .table.g-sm-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gy-sm-2 th,
  .table.gy-sm-2 td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .table.gx-sm-2 th,
  .table.gx-sm-2 td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .table.gx-sm-2 th.dtr-control,
  .table.gx-sm-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gs-sm-2 th:first-child,
  .table.gs-sm-2 td:first-child {
    padding-left: 0.5rem;
  }
  .table.gs-sm-2 th:last-child,
  .table.gs-sm-2 td:last-child {
    padding-right: 0.5rem;
  }
  .table.gs-sm-2 th.dtr-control:first-child,
  .table.gs-sm-2 td.dtr-control:first-child {
    padding-left: 0.5rem !important;
  }

  .table.g-sm-3 th,
  .table.g-sm-3 td {
    padding: 0.75rem;
  }
  .table.g-sm-3 th.dtr-control,
  .table.g-sm-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gy-sm-3 th,
  .table.gy-sm-3 td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .table.gx-sm-3 th,
  .table.gx-sm-3 td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .table.gx-sm-3 th.dtr-control,
  .table.gx-sm-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gs-sm-3 th:first-child,
  .table.gs-sm-3 td:first-child {
    padding-left: 0.75rem;
  }
  .table.gs-sm-3 th:last-child,
  .table.gs-sm-3 td:last-child {
    padding-right: 0.75rem;
  }
  .table.gs-sm-3 th.dtr-control:first-child,
  .table.gs-sm-3 td.dtr-control:first-child {
    padding-left: 0.75rem !important;
  }

  .table.g-sm-4 th,
  .table.g-sm-4 td {
    padding: 1rem;
  }
  .table.g-sm-4 th.dtr-control,
  .table.g-sm-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gy-sm-4 th,
  .table.gy-sm-4 td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .table.gx-sm-4 th,
  .table.gx-sm-4 td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .table.gx-sm-4 th.dtr-control,
  .table.gx-sm-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gs-sm-4 th:first-child,
  .table.gs-sm-4 td:first-child {
    padding-left: 1rem;
  }
  .table.gs-sm-4 th:last-child,
  .table.gs-sm-4 td:last-child {
    padding-right: 1rem;
  }
  .table.gs-sm-4 th.dtr-control:first-child,
  .table.gs-sm-4 td.dtr-control:first-child {
    padding-left: 1rem !important;
  }

  .table.g-sm-5 th,
  .table.g-sm-5 td {
    padding: 1.25rem;
  }
  .table.g-sm-5 th.dtr-control,
  .table.g-sm-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gy-sm-5 th,
  .table.gy-sm-5 td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .table.gx-sm-5 th,
  .table.gx-sm-5 td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .table.gx-sm-5 th.dtr-control,
  .table.gx-sm-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gs-sm-5 th:first-child,
  .table.gs-sm-5 td:first-child {
    padding-left: 1.25rem;
  }
  .table.gs-sm-5 th:last-child,
  .table.gs-sm-5 td:last-child {
    padding-right: 1.25rem;
  }
  .table.gs-sm-5 th.dtr-control:first-child,
  .table.gs-sm-5 td.dtr-control:first-child {
    padding-left: 1.25rem !important;
  }

  .table.g-sm-6 th,
  .table.g-sm-6 td {
    padding: 1.5rem;
  }
  .table.g-sm-6 th.dtr-control,
  .table.g-sm-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gy-sm-6 th,
  .table.gy-sm-6 td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .table.gx-sm-6 th,
  .table.gx-sm-6 td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .table.gx-sm-6 th.dtr-control,
  .table.gx-sm-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gs-sm-6 th:first-child,
  .table.gs-sm-6 td:first-child {
    padding-left: 1.5rem;
  }
  .table.gs-sm-6 th:last-child,
  .table.gs-sm-6 td:last-child {
    padding-right: 1.5rem;
  }
  .table.gs-sm-6 th.dtr-control:first-child,
  .table.gs-sm-6 td.dtr-control:first-child {
    padding-left: 1.5rem !important;
  }

  .table.g-sm-7 th,
  .table.g-sm-7 td {
    padding: 1.75rem;
  }
  .table.g-sm-7 th.dtr-control,
  .table.g-sm-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gy-sm-7 th,
  .table.gy-sm-7 td {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .table.gx-sm-7 th,
  .table.gx-sm-7 td {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .table.gx-sm-7 th.dtr-control,
  .table.gx-sm-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gs-sm-7 th:first-child,
  .table.gs-sm-7 td:first-child {
    padding-left: 1.75rem;
  }
  .table.gs-sm-7 th:last-child,
  .table.gs-sm-7 td:last-child {
    padding-right: 1.75rem;
  }
  .table.gs-sm-7 th.dtr-control:first-child,
  .table.gs-sm-7 td.dtr-control:first-child {
    padding-left: 1.75rem !important;
  }

  .table.g-sm-8 th,
  .table.g-sm-8 td {
    padding: 2rem;
  }
  .table.g-sm-8 th.dtr-control,
  .table.g-sm-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gy-sm-8 th,
  .table.gy-sm-8 td {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .table.gx-sm-8 th,
  .table.gx-sm-8 td {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .table.gx-sm-8 th.dtr-control,
  .table.gx-sm-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gs-sm-8 th:first-child,
  .table.gs-sm-8 td:first-child {
    padding-left: 2rem;
  }
  .table.gs-sm-8 th:last-child,
  .table.gs-sm-8 td:last-child {
    padding-right: 2rem;
  }
  .table.gs-sm-8 th.dtr-control:first-child,
  .table.gs-sm-8 td.dtr-control:first-child {
    padding-left: 2rem !important;
  }

  .table.g-sm-9 th,
  .table.g-sm-9 td {
    padding: 2.25rem;
  }
  .table.g-sm-9 th.dtr-control,
  .table.g-sm-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gy-sm-9 th,
  .table.gy-sm-9 td {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .table.gx-sm-9 th,
  .table.gx-sm-9 td {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .table.gx-sm-9 th.dtr-control,
  .table.gx-sm-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gs-sm-9 th:first-child,
  .table.gs-sm-9 td:first-child {
    padding-left: 2.25rem;
  }
  .table.gs-sm-9 th:last-child,
  .table.gs-sm-9 td:last-child {
    padding-right: 2.25rem;
  }
  .table.gs-sm-9 th.dtr-control:first-child,
  .table.gs-sm-9 td.dtr-control:first-child {
    padding-left: 2.25rem !important;
  }

  .table.g-sm-10 th,
  .table.g-sm-10 td {
    padding: 2.5rem;
  }
  .table.g-sm-10 th.dtr-control,
  .table.g-sm-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gy-sm-10 th,
  .table.gy-sm-10 td {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .table.gx-sm-10 th,
  .table.gx-sm-10 td {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .table.gx-sm-10 th.dtr-control,
  .table.gx-sm-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gs-sm-10 th:first-child,
  .table.gs-sm-10 td:first-child {
    padding-left: 2.5rem;
  }
  .table.gs-sm-10 th:last-child,
  .table.gs-sm-10 td:last-child {
    padding-right: 2.5rem;
  }
  .table.gs-sm-10 th.dtr-control:first-child,
  .table.gs-sm-10 td.dtr-control:first-child {
    padding-left: 2.5rem !important;
  }
}
@media (min-width: 768px) {
  .table.g-md-0 th,
  .table.g-md-0 td {
    padding: 0rem;
  }
  .table.g-md-0 th.dtr-control,
  .table.g-md-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gy-md-0 th,
  .table.gy-md-0 td {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .table.gx-md-0 th,
  .table.gx-md-0 td {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .table.gx-md-0 th.dtr-control,
  .table.gx-md-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gs-md-0 th:first-child,
  .table.gs-md-0 td:first-child {
    padding-left: 0rem;
  }
  .table.gs-md-0 th:last-child,
  .table.gs-md-0 td:last-child {
    padding-right: 0rem;
  }
  .table.gs-md-0 th.dtr-control:first-child,
  .table.gs-md-0 td.dtr-control:first-child {
    padding-left: 0rem !important;
  }

  .table.g-md-1 th,
  .table.g-md-1 td {
    padding: 0.25rem;
  }
  .table.g-md-1 th.dtr-control,
  .table.g-md-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gy-md-1 th,
  .table.gy-md-1 td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .table.gx-md-1 th,
  .table.gx-md-1 td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .table.gx-md-1 th.dtr-control,
  .table.gx-md-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gs-md-1 th:first-child,
  .table.gs-md-1 td:first-child {
    padding-left: 0.25rem;
  }
  .table.gs-md-1 th:last-child,
  .table.gs-md-1 td:last-child {
    padding-right: 0.25rem;
  }
  .table.gs-md-1 th.dtr-control:first-child,
  .table.gs-md-1 td.dtr-control:first-child {
    padding-left: 0.25rem !important;
  }

  .table.g-md-2 th,
  .table.g-md-2 td {
    padding: 0.5rem;
  }
  .table.g-md-2 th.dtr-control,
  .table.g-md-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gy-md-2 th,
  .table.gy-md-2 td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .table.gx-md-2 th,
  .table.gx-md-2 td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .table.gx-md-2 th.dtr-control,
  .table.gx-md-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gs-md-2 th:first-child,
  .table.gs-md-2 td:first-child {
    padding-left: 0.5rem;
  }
  .table.gs-md-2 th:last-child,
  .table.gs-md-2 td:last-child {
    padding-right: 0.5rem;
  }
  .table.gs-md-2 th.dtr-control:first-child,
  .table.gs-md-2 td.dtr-control:first-child {
    padding-left: 0.5rem !important;
  }

  .table.g-md-3 th,
  .table.g-md-3 td {
    padding: 0.75rem;
  }
  .table.g-md-3 th.dtr-control,
  .table.g-md-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gy-md-3 th,
  .table.gy-md-3 td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .table.gx-md-3 th,
  .table.gx-md-3 td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .table.gx-md-3 th.dtr-control,
  .table.gx-md-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gs-md-3 th:first-child,
  .table.gs-md-3 td:first-child {
    padding-left: 0.75rem;
  }
  .table.gs-md-3 th:last-child,
  .table.gs-md-3 td:last-child {
    padding-right: 0.75rem;
  }
  .table.gs-md-3 th.dtr-control:first-child,
  .table.gs-md-3 td.dtr-control:first-child {
    padding-left: 0.75rem !important;
  }

  .table.g-md-4 th,
  .table.g-md-4 td {
    padding: 1rem;
  }
  .table.g-md-4 th.dtr-control,
  .table.g-md-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gy-md-4 th,
  .table.gy-md-4 td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .table.gx-md-4 th,
  .table.gx-md-4 td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .table.gx-md-4 th.dtr-control,
  .table.gx-md-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gs-md-4 th:first-child,
  .table.gs-md-4 td:first-child {
    padding-left: 1rem;
  }
  .table.gs-md-4 th:last-child,
  .table.gs-md-4 td:last-child {
    padding-right: 1rem;
  }
  .table.gs-md-4 th.dtr-control:first-child,
  .table.gs-md-4 td.dtr-control:first-child {
    padding-left: 1rem !important;
  }

  .table.g-md-5 th,
  .table.g-md-5 td {
    padding: 1.25rem;
  }
  .table.g-md-5 th.dtr-control,
  .table.g-md-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gy-md-5 th,
  .table.gy-md-5 td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .table.gx-md-5 th,
  .table.gx-md-5 td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .table.gx-md-5 th.dtr-control,
  .table.gx-md-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gs-md-5 th:first-child,
  .table.gs-md-5 td:first-child {
    padding-left: 1.25rem;
  }
  .table.gs-md-5 th:last-child,
  .table.gs-md-5 td:last-child {
    padding-right: 1.25rem;
  }
  .table.gs-md-5 th.dtr-control:first-child,
  .table.gs-md-5 td.dtr-control:first-child {
    padding-left: 1.25rem !important;
  }

  .table.g-md-6 th,
  .table.g-md-6 td {
    padding: 1.5rem;
  }
  .table.g-md-6 th.dtr-control,
  .table.g-md-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gy-md-6 th,
  .table.gy-md-6 td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .table.gx-md-6 th,
  .table.gx-md-6 td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .table.gx-md-6 th.dtr-control,
  .table.gx-md-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gs-md-6 th:first-child,
  .table.gs-md-6 td:first-child {
    padding-left: 1.5rem;
  }
  .table.gs-md-6 th:last-child,
  .table.gs-md-6 td:last-child {
    padding-right: 1.5rem;
  }
  .table.gs-md-6 th.dtr-control:first-child,
  .table.gs-md-6 td.dtr-control:first-child {
    padding-left: 1.5rem !important;
  }

  .table.g-md-7 th,
  .table.g-md-7 td {
    padding: 1.75rem;
  }
  .table.g-md-7 th.dtr-control,
  .table.g-md-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gy-md-7 th,
  .table.gy-md-7 td {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .table.gx-md-7 th,
  .table.gx-md-7 td {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .table.gx-md-7 th.dtr-control,
  .table.gx-md-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gs-md-7 th:first-child,
  .table.gs-md-7 td:first-child {
    padding-left: 1.75rem;
  }
  .table.gs-md-7 th:last-child,
  .table.gs-md-7 td:last-child {
    padding-right: 1.75rem;
  }
  .table.gs-md-7 th.dtr-control:first-child,
  .table.gs-md-7 td.dtr-control:first-child {
    padding-left: 1.75rem !important;
  }

  .table.g-md-8 th,
  .table.g-md-8 td {
    padding: 2rem;
  }
  .table.g-md-8 th.dtr-control,
  .table.g-md-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gy-md-8 th,
  .table.gy-md-8 td {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .table.gx-md-8 th,
  .table.gx-md-8 td {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .table.gx-md-8 th.dtr-control,
  .table.gx-md-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gs-md-8 th:first-child,
  .table.gs-md-8 td:first-child {
    padding-left: 2rem;
  }
  .table.gs-md-8 th:last-child,
  .table.gs-md-8 td:last-child {
    padding-right: 2rem;
  }
  .table.gs-md-8 th.dtr-control:first-child,
  .table.gs-md-8 td.dtr-control:first-child {
    padding-left: 2rem !important;
  }

  .table.g-md-9 th,
  .table.g-md-9 td {
    padding: 2.25rem;
  }
  .table.g-md-9 th.dtr-control,
  .table.g-md-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gy-md-9 th,
  .table.gy-md-9 td {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .table.gx-md-9 th,
  .table.gx-md-9 td {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .table.gx-md-9 th.dtr-control,
  .table.gx-md-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gs-md-9 th:first-child,
  .table.gs-md-9 td:first-child {
    padding-left: 2.25rem;
  }
  .table.gs-md-9 th:last-child,
  .table.gs-md-9 td:last-child {
    padding-right: 2.25rem;
  }
  .table.gs-md-9 th.dtr-control:first-child,
  .table.gs-md-9 td.dtr-control:first-child {
    padding-left: 2.25rem !important;
  }

  .table.g-md-10 th,
  .table.g-md-10 td {
    padding: 2.5rem;
  }
  .table.g-md-10 th.dtr-control,
  .table.g-md-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gy-md-10 th,
  .table.gy-md-10 td {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .table.gx-md-10 th,
  .table.gx-md-10 td {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .table.gx-md-10 th.dtr-control,
  .table.gx-md-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gs-md-10 th:first-child,
  .table.gs-md-10 td:first-child {
    padding-left: 2.5rem;
  }
  .table.gs-md-10 th:last-child,
  .table.gs-md-10 td:last-child {
    padding-right: 2.5rem;
  }
  .table.gs-md-10 th.dtr-control:first-child,
  .table.gs-md-10 td.dtr-control:first-child {
    padding-left: 2.5rem !important;
  }
}
@media (min-width: 992px) {
  .table.g-lg-0 th,
  .table.g-lg-0 td {
    padding: 0rem;
  }
  .table.g-lg-0 th.dtr-control,
  .table.g-lg-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gy-lg-0 th,
  .table.gy-lg-0 td {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .table.gx-lg-0 th,
  .table.gx-lg-0 td {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .table.gx-lg-0 th.dtr-control,
  .table.gx-lg-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gs-lg-0 th:first-child,
  .table.gs-lg-0 td:first-child {
    padding-left: 0rem;
  }
  .table.gs-lg-0 th:last-child,
  .table.gs-lg-0 td:last-child {
    padding-right: 0rem;
  }
  .table.gs-lg-0 th.dtr-control:first-child,
  .table.gs-lg-0 td.dtr-control:first-child {
    padding-left: 0rem !important;
  }

  .table.g-lg-1 th,
  .table.g-lg-1 td {
    padding: 0.25rem;
  }
  .table.g-lg-1 th.dtr-control,
  .table.g-lg-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gy-lg-1 th,
  .table.gy-lg-1 td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .table.gx-lg-1 th,
  .table.gx-lg-1 td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .table.gx-lg-1 th.dtr-control,
  .table.gx-lg-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gs-lg-1 th:first-child,
  .table.gs-lg-1 td:first-child {
    padding-left: 0.25rem;
  }
  .table.gs-lg-1 th:last-child,
  .table.gs-lg-1 td:last-child {
    padding-right: 0.25rem;
  }
  .table.gs-lg-1 th.dtr-control:first-child,
  .table.gs-lg-1 td.dtr-control:first-child {
    padding-left: 0.25rem !important;
  }

  .table.g-lg-2 th,
  .table.g-lg-2 td {
    padding: 0.5rem;
  }
  .table.g-lg-2 th.dtr-control,
  .table.g-lg-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gy-lg-2 th,
  .table.gy-lg-2 td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .table.gx-lg-2 th,
  .table.gx-lg-2 td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .table.gx-lg-2 th.dtr-control,
  .table.gx-lg-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gs-lg-2 th:first-child,
  .table.gs-lg-2 td:first-child {
    padding-left: 0.5rem;
  }
  .table.gs-lg-2 th:last-child,
  .table.gs-lg-2 td:last-child {
    padding-right: 0.5rem;
  }
  .table.gs-lg-2 th.dtr-control:first-child,
  .table.gs-lg-2 td.dtr-control:first-child {
    padding-left: 0.5rem !important;
  }

  .table.g-lg-3 th,
  .table.g-lg-3 td {
    padding: 0.75rem;
  }
  .table.g-lg-3 th.dtr-control,
  .table.g-lg-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gy-lg-3 th,
  .table.gy-lg-3 td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .table.gx-lg-3 th,
  .table.gx-lg-3 td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .table.gx-lg-3 th.dtr-control,
  .table.gx-lg-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gs-lg-3 th:first-child,
  .table.gs-lg-3 td:first-child {
    padding-left: 0.75rem;
  }
  .table.gs-lg-3 th:last-child,
  .table.gs-lg-3 td:last-child {
    padding-right: 0.75rem;
  }
  .table.gs-lg-3 th.dtr-control:first-child,
  .table.gs-lg-3 td.dtr-control:first-child {
    padding-left: 0.75rem !important;
  }

  .table.g-lg-4 th,
  .table.g-lg-4 td {
    padding: 1rem;
  }
  .table.g-lg-4 th.dtr-control,
  .table.g-lg-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gy-lg-4 th,
  .table.gy-lg-4 td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .table.gx-lg-4 th,
  .table.gx-lg-4 td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .table.gx-lg-4 th.dtr-control,
  .table.gx-lg-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gs-lg-4 th:first-child,
  .table.gs-lg-4 td:first-child {
    padding-left: 1rem;
  }
  .table.gs-lg-4 th:last-child,
  .table.gs-lg-4 td:last-child {
    padding-right: 1rem;
  }
  .table.gs-lg-4 th.dtr-control:first-child,
  .table.gs-lg-4 td.dtr-control:first-child {
    padding-left: 1rem !important;
  }

  .table.g-lg-5 th,
  .table.g-lg-5 td {
    padding: 1.25rem;
  }
  .table.g-lg-5 th.dtr-control,
  .table.g-lg-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gy-lg-5 th,
  .table.gy-lg-5 td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .table.gx-lg-5 th,
  .table.gx-lg-5 td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .table.gx-lg-5 th.dtr-control,
  .table.gx-lg-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gs-lg-5 th:first-child,
  .table.gs-lg-5 td:first-child {
    padding-left: 1.25rem;
  }
  .table.gs-lg-5 th:last-child,
  .table.gs-lg-5 td:last-child {
    padding-right: 1.25rem;
  }
  .table.gs-lg-5 th.dtr-control:first-child,
  .table.gs-lg-5 td.dtr-control:first-child {
    padding-left: 1.25rem !important;
  }

  .table.g-lg-6 th,
  .table.g-lg-6 td {
    padding: 1.5rem;
  }
  .table.g-lg-6 th.dtr-control,
  .table.g-lg-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gy-lg-6 th,
  .table.gy-lg-6 td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .table.gx-lg-6 th,
  .table.gx-lg-6 td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .table.gx-lg-6 th.dtr-control,
  .table.gx-lg-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gs-lg-6 th:first-child,
  .table.gs-lg-6 td:first-child {
    padding-left: 1.5rem;
  }
  .table.gs-lg-6 th:last-child,
  .table.gs-lg-6 td:last-child {
    padding-right: 1.5rem;
  }
  .table.gs-lg-6 th.dtr-control:first-child,
  .table.gs-lg-6 td.dtr-control:first-child {
    padding-left: 1.5rem !important;
  }

  .table.g-lg-7 th,
  .table.g-lg-7 td {
    padding: 1.75rem;
  }
  .table.g-lg-7 th.dtr-control,
  .table.g-lg-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gy-lg-7 th,
  .table.gy-lg-7 td {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .table.gx-lg-7 th,
  .table.gx-lg-7 td {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .table.gx-lg-7 th.dtr-control,
  .table.gx-lg-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gs-lg-7 th:first-child,
  .table.gs-lg-7 td:first-child {
    padding-left: 1.75rem;
  }
  .table.gs-lg-7 th:last-child,
  .table.gs-lg-7 td:last-child {
    padding-right: 1.75rem;
  }
  .table.gs-lg-7 th.dtr-control:first-child,
  .table.gs-lg-7 td.dtr-control:first-child {
    padding-left: 1.75rem !important;
  }

  .table.g-lg-8 th,
  .table.g-lg-8 td {
    padding: 2rem;
  }
  .table.g-lg-8 th.dtr-control,
  .table.g-lg-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gy-lg-8 th,
  .table.gy-lg-8 td {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .table.gx-lg-8 th,
  .table.gx-lg-8 td {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .table.gx-lg-8 th.dtr-control,
  .table.gx-lg-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gs-lg-8 th:first-child,
  .table.gs-lg-8 td:first-child {
    padding-left: 2rem;
  }
  .table.gs-lg-8 th:last-child,
  .table.gs-lg-8 td:last-child {
    padding-right: 2rem;
  }
  .table.gs-lg-8 th.dtr-control:first-child,
  .table.gs-lg-8 td.dtr-control:first-child {
    padding-left: 2rem !important;
  }

  .table.g-lg-9 th,
  .table.g-lg-9 td {
    padding: 2.25rem;
  }
  .table.g-lg-9 th.dtr-control,
  .table.g-lg-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gy-lg-9 th,
  .table.gy-lg-9 td {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .table.gx-lg-9 th,
  .table.gx-lg-9 td {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .table.gx-lg-9 th.dtr-control,
  .table.gx-lg-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gs-lg-9 th:first-child,
  .table.gs-lg-9 td:first-child {
    padding-left: 2.25rem;
  }
  .table.gs-lg-9 th:last-child,
  .table.gs-lg-9 td:last-child {
    padding-right: 2.25rem;
  }
  .table.gs-lg-9 th.dtr-control:first-child,
  .table.gs-lg-9 td.dtr-control:first-child {
    padding-left: 2.25rem !important;
  }

  .table.g-lg-10 th,
  .table.g-lg-10 td {
    padding: 2.5rem;
  }
  .table.g-lg-10 th.dtr-control,
  .table.g-lg-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gy-lg-10 th,
  .table.gy-lg-10 td {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .table.gx-lg-10 th,
  .table.gx-lg-10 td {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .table.gx-lg-10 th.dtr-control,
  .table.gx-lg-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gs-lg-10 th:first-child,
  .table.gs-lg-10 td:first-child {
    padding-left: 2.5rem;
  }
  .table.gs-lg-10 th:last-child,
  .table.gs-lg-10 td:last-child {
    padding-right: 2.5rem;
  }
  .table.gs-lg-10 th.dtr-control:first-child,
  .table.gs-lg-10 td.dtr-control:first-child {
    padding-left: 2.5rem !important;
  }
}
@media (min-width: 1200px) {
  .table.g-xl-0 th,
  .table.g-xl-0 td {
    padding: 0rem;
  }
  .table.g-xl-0 th.dtr-control,
  .table.g-xl-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gy-xl-0 th,
  .table.gy-xl-0 td {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .table.gx-xl-0 th,
  .table.gx-xl-0 td {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .table.gx-xl-0 th.dtr-control,
  .table.gx-xl-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gs-xl-0 th:first-child,
  .table.gs-xl-0 td:first-child {
    padding-left: 0rem;
  }
  .table.gs-xl-0 th:last-child,
  .table.gs-xl-0 td:last-child {
    padding-right: 0rem;
  }
  .table.gs-xl-0 th.dtr-control:first-child,
  .table.gs-xl-0 td.dtr-control:first-child {
    padding-left: 0rem !important;
  }

  .table.g-xl-1 th,
  .table.g-xl-1 td {
    padding: 0.25rem;
  }
  .table.g-xl-1 th.dtr-control,
  .table.g-xl-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gy-xl-1 th,
  .table.gy-xl-1 td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .table.gx-xl-1 th,
  .table.gx-xl-1 td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .table.gx-xl-1 th.dtr-control,
  .table.gx-xl-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gs-xl-1 th:first-child,
  .table.gs-xl-1 td:first-child {
    padding-left: 0.25rem;
  }
  .table.gs-xl-1 th:last-child,
  .table.gs-xl-1 td:last-child {
    padding-right: 0.25rem;
  }
  .table.gs-xl-1 th.dtr-control:first-child,
  .table.gs-xl-1 td.dtr-control:first-child {
    padding-left: 0.25rem !important;
  }

  .table.g-xl-2 th,
  .table.g-xl-2 td {
    padding: 0.5rem;
  }
  .table.g-xl-2 th.dtr-control,
  .table.g-xl-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gy-xl-2 th,
  .table.gy-xl-2 td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .table.gx-xl-2 th,
  .table.gx-xl-2 td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .table.gx-xl-2 th.dtr-control,
  .table.gx-xl-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gs-xl-2 th:first-child,
  .table.gs-xl-2 td:first-child {
    padding-left: 0.5rem;
  }
  .table.gs-xl-2 th:last-child,
  .table.gs-xl-2 td:last-child {
    padding-right: 0.5rem;
  }
  .table.gs-xl-2 th.dtr-control:first-child,
  .table.gs-xl-2 td.dtr-control:first-child {
    padding-left: 0.5rem !important;
  }

  .table.g-xl-3 th,
  .table.g-xl-3 td {
    padding: 0.75rem;
  }
  .table.g-xl-3 th.dtr-control,
  .table.g-xl-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gy-xl-3 th,
  .table.gy-xl-3 td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .table.gx-xl-3 th,
  .table.gx-xl-3 td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .table.gx-xl-3 th.dtr-control,
  .table.gx-xl-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gs-xl-3 th:first-child,
  .table.gs-xl-3 td:first-child {
    padding-left: 0.75rem;
  }
  .table.gs-xl-3 th:last-child,
  .table.gs-xl-3 td:last-child {
    padding-right: 0.75rem;
  }
  .table.gs-xl-3 th.dtr-control:first-child,
  .table.gs-xl-3 td.dtr-control:first-child {
    padding-left: 0.75rem !important;
  }

  .table.g-xl-4 th,
  .table.g-xl-4 td {
    padding: 1rem;
  }
  .table.g-xl-4 th.dtr-control,
  .table.g-xl-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gy-xl-4 th,
  .table.gy-xl-4 td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .table.gx-xl-4 th,
  .table.gx-xl-4 td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .table.gx-xl-4 th.dtr-control,
  .table.gx-xl-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gs-xl-4 th:first-child,
  .table.gs-xl-4 td:first-child {
    padding-left: 1rem;
  }
  .table.gs-xl-4 th:last-child,
  .table.gs-xl-4 td:last-child {
    padding-right: 1rem;
  }
  .table.gs-xl-4 th.dtr-control:first-child,
  .table.gs-xl-4 td.dtr-control:first-child {
    padding-left: 1rem !important;
  }

  .table.g-xl-5 th,
  .table.g-xl-5 td {
    padding: 1.25rem;
  }
  .table.g-xl-5 th.dtr-control,
  .table.g-xl-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gy-xl-5 th,
  .table.gy-xl-5 td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .table.gx-xl-5 th,
  .table.gx-xl-5 td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .table.gx-xl-5 th.dtr-control,
  .table.gx-xl-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gs-xl-5 th:first-child,
  .table.gs-xl-5 td:first-child {
    padding-left: 1.25rem;
  }
  .table.gs-xl-5 th:last-child,
  .table.gs-xl-5 td:last-child {
    padding-right: 1.25rem;
  }
  .table.gs-xl-5 th.dtr-control:first-child,
  .table.gs-xl-5 td.dtr-control:first-child {
    padding-left: 1.25rem !important;
  }

  .table.g-xl-6 th,
  .table.g-xl-6 td {
    padding: 1.5rem;
  }
  .table.g-xl-6 th.dtr-control,
  .table.g-xl-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gy-xl-6 th,
  .table.gy-xl-6 td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .table.gx-xl-6 th,
  .table.gx-xl-6 td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .table.gx-xl-6 th.dtr-control,
  .table.gx-xl-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gs-xl-6 th:first-child,
  .table.gs-xl-6 td:first-child {
    padding-left: 1.5rem;
  }
  .table.gs-xl-6 th:last-child,
  .table.gs-xl-6 td:last-child {
    padding-right: 1.5rem;
  }
  .table.gs-xl-6 th.dtr-control:first-child,
  .table.gs-xl-6 td.dtr-control:first-child {
    padding-left: 1.5rem !important;
  }

  .table.g-xl-7 th,
  .table.g-xl-7 td {
    padding: 1.75rem;
  }
  .table.g-xl-7 th.dtr-control,
  .table.g-xl-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gy-xl-7 th,
  .table.gy-xl-7 td {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .table.gx-xl-7 th,
  .table.gx-xl-7 td {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .table.gx-xl-7 th.dtr-control,
  .table.gx-xl-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gs-xl-7 th:first-child,
  .table.gs-xl-7 td:first-child {
    padding-left: 1.75rem;
  }
  .table.gs-xl-7 th:last-child,
  .table.gs-xl-7 td:last-child {
    padding-right: 1.75rem;
  }
  .table.gs-xl-7 th.dtr-control:first-child,
  .table.gs-xl-7 td.dtr-control:first-child {
    padding-left: 1.75rem !important;
  }

  .table.g-xl-8 th,
  .table.g-xl-8 td {
    padding: 2rem;
  }
  .table.g-xl-8 th.dtr-control,
  .table.g-xl-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gy-xl-8 th,
  .table.gy-xl-8 td {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .table.gx-xl-8 th,
  .table.gx-xl-8 td {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .table.gx-xl-8 th.dtr-control,
  .table.gx-xl-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gs-xl-8 th:first-child,
  .table.gs-xl-8 td:first-child {
    padding-left: 2rem;
  }
  .table.gs-xl-8 th:last-child,
  .table.gs-xl-8 td:last-child {
    padding-right: 2rem;
  }
  .table.gs-xl-8 th.dtr-control:first-child,
  .table.gs-xl-8 td.dtr-control:first-child {
    padding-left: 2rem !important;
  }

  .table.g-xl-9 th,
  .table.g-xl-9 td {
    padding: 2.25rem;
  }
  .table.g-xl-9 th.dtr-control,
  .table.g-xl-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gy-xl-9 th,
  .table.gy-xl-9 td {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .table.gx-xl-9 th,
  .table.gx-xl-9 td {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .table.gx-xl-9 th.dtr-control,
  .table.gx-xl-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gs-xl-9 th:first-child,
  .table.gs-xl-9 td:first-child {
    padding-left: 2.25rem;
  }
  .table.gs-xl-9 th:last-child,
  .table.gs-xl-9 td:last-child {
    padding-right: 2.25rem;
  }
  .table.gs-xl-9 th.dtr-control:first-child,
  .table.gs-xl-9 td.dtr-control:first-child {
    padding-left: 2.25rem !important;
  }

  .table.g-xl-10 th,
  .table.g-xl-10 td {
    padding: 2.5rem;
  }
  .table.g-xl-10 th.dtr-control,
  .table.g-xl-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gy-xl-10 th,
  .table.gy-xl-10 td {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .table.gx-xl-10 th,
  .table.gx-xl-10 td {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .table.gx-xl-10 th.dtr-control,
  .table.gx-xl-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gs-xl-10 th:first-child,
  .table.gs-xl-10 td:first-child {
    padding-left: 2.5rem;
  }
  .table.gs-xl-10 th:last-child,
  .table.gs-xl-10 td:last-child {
    padding-right: 2.5rem;
  }
  .table.gs-xl-10 th.dtr-control:first-child,
  .table.gs-xl-10 td.dtr-control:first-child {
    padding-left: 2.5rem !important;
  }
}
@media (min-width: 1400px) {
  .table.g-xxl-0 th,
  .table.g-xxl-0 td {
    padding: 0rem;
  }
  .table.g-xxl-0 th.dtr-control,
  .table.g-xxl-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gy-xxl-0 th,
  .table.gy-xxl-0 td {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .table.gx-xxl-0 th,
  .table.gx-xxl-0 td {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .table.gx-xxl-0 th.dtr-control,
  .table.gx-xxl-0 td.dtr-control {
    padding-left: 0rem !important;
  }

  .table.gs-xxl-0 th:first-child,
  .table.gs-xxl-0 td:first-child {
    padding-left: 0rem;
  }
  .table.gs-xxl-0 th:last-child,
  .table.gs-xxl-0 td:last-child {
    padding-right: 0rem;
  }
  .table.gs-xxl-0 th.dtr-control:first-child,
  .table.gs-xxl-0 td.dtr-control:first-child {
    padding-left: 0rem !important;
  }

  .table.g-xxl-1 th,
  .table.g-xxl-1 td {
    padding: 0.25rem;
  }
  .table.g-xxl-1 th.dtr-control,
  .table.g-xxl-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gy-xxl-1 th,
  .table.gy-xxl-1 td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .table.gx-xxl-1 th,
  .table.gx-xxl-1 td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .table.gx-xxl-1 th.dtr-control,
  .table.gx-xxl-1 td.dtr-control {
    padding-left: 0.25rem !important;
  }

  .table.gs-xxl-1 th:first-child,
  .table.gs-xxl-1 td:first-child {
    padding-left: 0.25rem;
  }
  .table.gs-xxl-1 th:last-child,
  .table.gs-xxl-1 td:last-child {
    padding-right: 0.25rem;
  }
  .table.gs-xxl-1 th.dtr-control:first-child,
  .table.gs-xxl-1 td.dtr-control:first-child {
    padding-left: 0.25rem !important;
  }

  .table.g-xxl-2 th,
  .table.g-xxl-2 td {
    padding: 0.5rem;
  }
  .table.g-xxl-2 th.dtr-control,
  .table.g-xxl-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gy-xxl-2 th,
  .table.gy-xxl-2 td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .table.gx-xxl-2 th,
  .table.gx-xxl-2 td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .table.gx-xxl-2 th.dtr-control,
  .table.gx-xxl-2 td.dtr-control {
    padding-left: 0.5rem !important;
  }

  .table.gs-xxl-2 th:first-child,
  .table.gs-xxl-2 td:first-child {
    padding-left: 0.5rem;
  }
  .table.gs-xxl-2 th:last-child,
  .table.gs-xxl-2 td:last-child {
    padding-right: 0.5rem;
  }
  .table.gs-xxl-2 th.dtr-control:first-child,
  .table.gs-xxl-2 td.dtr-control:first-child {
    padding-left: 0.5rem !important;
  }

  .table.g-xxl-3 th,
  .table.g-xxl-3 td {
    padding: 0.75rem;
  }
  .table.g-xxl-3 th.dtr-control,
  .table.g-xxl-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gy-xxl-3 th,
  .table.gy-xxl-3 td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .table.gx-xxl-3 th,
  .table.gx-xxl-3 td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .table.gx-xxl-3 th.dtr-control,
  .table.gx-xxl-3 td.dtr-control {
    padding-left: 0.75rem !important;
  }

  .table.gs-xxl-3 th:first-child,
  .table.gs-xxl-3 td:first-child {
    padding-left: 0.75rem;
  }
  .table.gs-xxl-3 th:last-child,
  .table.gs-xxl-3 td:last-child {
    padding-right: 0.75rem;
  }
  .table.gs-xxl-3 th.dtr-control:first-child,
  .table.gs-xxl-3 td.dtr-control:first-child {
    padding-left: 0.75rem !important;
  }

  .table.g-xxl-4 th,
  .table.g-xxl-4 td {
    padding: 1rem;
  }
  .table.g-xxl-4 th.dtr-control,
  .table.g-xxl-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gy-xxl-4 th,
  .table.gy-xxl-4 td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .table.gx-xxl-4 th,
  .table.gx-xxl-4 td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .table.gx-xxl-4 th.dtr-control,
  .table.gx-xxl-4 td.dtr-control {
    padding-left: 1rem !important;
  }

  .table.gs-xxl-4 th:first-child,
  .table.gs-xxl-4 td:first-child {
    padding-left: 1rem;
  }
  .table.gs-xxl-4 th:last-child,
  .table.gs-xxl-4 td:last-child {
    padding-right: 1rem;
  }
  .table.gs-xxl-4 th.dtr-control:first-child,
  .table.gs-xxl-4 td.dtr-control:first-child {
    padding-left: 1rem !important;
  }

  .table.g-xxl-5 th,
  .table.g-xxl-5 td {
    padding: 1.25rem;
  }
  .table.g-xxl-5 th.dtr-control,
  .table.g-xxl-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gy-xxl-5 th,
  .table.gy-xxl-5 td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .table.gx-xxl-5 th,
  .table.gx-xxl-5 td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .table.gx-xxl-5 th.dtr-control,
  .table.gx-xxl-5 td.dtr-control {
    padding-left: 1.25rem !important;
  }

  .table.gs-xxl-5 th:first-child,
  .table.gs-xxl-5 td:first-child {
    padding-left: 1.25rem;
  }
  .table.gs-xxl-5 th:last-child,
  .table.gs-xxl-5 td:last-child {
    padding-right: 1.25rem;
  }
  .table.gs-xxl-5 th.dtr-control:first-child,
  .table.gs-xxl-5 td.dtr-control:first-child {
    padding-left: 1.25rem !important;
  }

  .table.g-xxl-6 th,
  .table.g-xxl-6 td {
    padding: 1.5rem;
  }
  .table.g-xxl-6 th.dtr-control,
  .table.g-xxl-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gy-xxl-6 th,
  .table.gy-xxl-6 td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .table.gx-xxl-6 th,
  .table.gx-xxl-6 td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .table.gx-xxl-6 th.dtr-control,
  .table.gx-xxl-6 td.dtr-control {
    padding-left: 1.5rem !important;
  }

  .table.gs-xxl-6 th:first-child,
  .table.gs-xxl-6 td:first-child {
    padding-left: 1.5rem;
  }
  .table.gs-xxl-6 th:last-child,
  .table.gs-xxl-6 td:last-child {
    padding-right: 1.5rem;
  }
  .table.gs-xxl-6 th.dtr-control:first-child,
  .table.gs-xxl-6 td.dtr-control:first-child {
    padding-left: 1.5rem !important;
  }

  .table.g-xxl-7 th,
  .table.g-xxl-7 td {
    padding: 1.75rem;
  }
  .table.g-xxl-7 th.dtr-control,
  .table.g-xxl-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gy-xxl-7 th,
  .table.gy-xxl-7 td {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .table.gx-xxl-7 th,
  .table.gx-xxl-7 td {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .table.gx-xxl-7 th.dtr-control,
  .table.gx-xxl-7 td.dtr-control {
    padding-left: 1.75rem !important;
  }

  .table.gs-xxl-7 th:first-child,
  .table.gs-xxl-7 td:first-child {
    padding-left: 1.75rem;
  }
  .table.gs-xxl-7 th:last-child,
  .table.gs-xxl-7 td:last-child {
    padding-right: 1.75rem;
  }
  .table.gs-xxl-7 th.dtr-control:first-child,
  .table.gs-xxl-7 td.dtr-control:first-child {
    padding-left: 1.75rem !important;
  }

  .table.g-xxl-8 th,
  .table.g-xxl-8 td {
    padding: 2rem;
  }
  .table.g-xxl-8 th.dtr-control,
  .table.g-xxl-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gy-xxl-8 th,
  .table.gy-xxl-8 td {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .table.gx-xxl-8 th,
  .table.gx-xxl-8 td {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .table.gx-xxl-8 th.dtr-control,
  .table.gx-xxl-8 td.dtr-control {
    padding-left: 2rem !important;
  }

  .table.gs-xxl-8 th:first-child,
  .table.gs-xxl-8 td:first-child {
    padding-left: 2rem;
  }
  .table.gs-xxl-8 th:last-child,
  .table.gs-xxl-8 td:last-child {
    padding-right: 2rem;
  }
  .table.gs-xxl-8 th.dtr-control:first-child,
  .table.gs-xxl-8 td.dtr-control:first-child {
    padding-left: 2rem !important;
  }

  .table.g-xxl-9 th,
  .table.g-xxl-9 td {
    padding: 2.25rem;
  }
  .table.g-xxl-9 th.dtr-control,
  .table.g-xxl-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gy-xxl-9 th,
  .table.gy-xxl-9 td {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .table.gx-xxl-9 th,
  .table.gx-xxl-9 td {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .table.gx-xxl-9 th.dtr-control,
  .table.gx-xxl-9 td.dtr-control {
    padding-left: 2.25rem !important;
  }

  .table.gs-xxl-9 th:first-child,
  .table.gs-xxl-9 td:first-child {
    padding-left: 2.25rem;
  }
  .table.gs-xxl-9 th:last-child,
  .table.gs-xxl-9 td:last-child {
    padding-right: 2.25rem;
  }
  .table.gs-xxl-9 th.dtr-control:first-child,
  .table.gs-xxl-9 td.dtr-control:first-child {
    padding-left: 2.25rem !important;
  }

  .table.g-xxl-10 th,
  .table.g-xxl-10 td {
    padding: 2.5rem;
  }
  .table.g-xxl-10 th.dtr-control,
  .table.g-xxl-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gy-xxl-10 th,
  .table.gy-xxl-10 td {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .table.gx-xxl-10 th,
  .table.gx-xxl-10 td {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .table.gx-xxl-10 th.dtr-control,
  .table.gx-xxl-10 td.dtr-control {
    padding-left: 2.5rem !important;
  }

  .table.gs-xxl-10 th:first-child,
  .table.gs-xxl-10 td:first-child {
    padding-left: 2.5rem;
  }
  .table.gs-xxl-10 th:last-child,
  .table.gs-xxl-10 td:last-child {
    padding-right: 2.5rem;
  }
  .table.gs-xxl-10 th.dtr-control:first-child,
  .table.gs-xxl-10 td.dtr-control:first-child {
    padding-left: 2.5rem !important;
  }
}
